<a id="new-entry-fab" [attr.href]="fabUrl" [style.background]="fabColor">
  <div class="plus-icon"></div>
</a>
<div id="top">
  <header>
    <h1>
      <a href="#" (click)="reset()">Bookworm</a>
    </h1>
  </header>
  <div id="below-header">
    <span>
      <a href="https://github.com/prendradjaja/bookworm">GitHub</a>
    </span>
    <span *ngIf="sheetUrl">
      <a [attr.href]="sheetUrl">Sheet</a>
    </span>
    <span *ngIf="loading && !backendService.isOfflineOnly()" id="loading">Loading...</span>
    <!-- Maybe shouldn't talk to service or call method from template? -->
    <span *ngIf="backendService.isOfflineOnly()" id="offline-only">OFFLINE</span>
  </div>
</div>

<calendar-view [allRows]="allRows"
               [currentDateFilter]="currentDateFilter"
               (filterByDate)="filterByDate($event)">
</calendar-view>

<div id="cards">
  <app-event-card *ngFor="let row of rows"
                  [row]="row"
                  (onClick)="filterByBook($event)">
  </app-event-card>
</div>