<a id="new-entry-fab" [attr.href]="fabUrl" [style.background]="fabColor">
  <div class="plus-icon"></div>
</a>
<div id="top">
  <header>
    <h1>
      <a href="#" (click)="reset()">Bookworm</a>
    </h1>
    <span>
      <a href="https://github.com/prendradjaja/bookworm">GitHub</a>
    </span>
  </header>
  <a [attr.href]="newEntryUrl">New entry</a>
  <span *ngIf="loading" id="loading"> (Loading...)</span>
</div>

<calendar-view [allRows]="allRows"
               (filterByDate)="filterByDate($event)">
</calendar-view>

<div id="cards">
  <app-event-card *ngFor="let row of rows"
                  [row]="row"
                  (onClick)="filterByBook($event)">
  </app-event-card>
</div>