<a id="new-entry-fab" [attr.href]="fabUrl" [style.background]="fabColor">
  <div class="plus-icon"></div>
</a>
<div id="top">
  <header>
    <h1>
      <a href="#" (click)="reset()">Bookworm</a>
    </h1>
    <span>
      <a href="https://github.com/prendradjaja/bookworm">GitHub</a>
    </span>
  </header>
  <a [attr.href]="newEntryUrl">New entry</a>
  ·
  <!-- use <button> for calendar toggle -->
  <a href="#" (click)="toggleCalendar()">{{ calendarVisible ? "Hide calendar" : "Show calendar" }}</a>
  <span *ngIf="loading" id="loading"> (Loading...)</span>
</div>

<table *ngIf="calendarVisible" class="calendar-view">
  <tr *ngFor="let week of weeks">
    <td *ngFor="let day of week"
        [style.background-color]="day.color ? day.color : '#dddddd'"
        [ngClass]="{ 'day-selected': day && day.fullDate === activeCalendarDay }"
        (click)="clickCalendarDay(day)">
      <span class="day-number">{{day.d}}</span>
      <calendar-day-dots [n]="day.numEvents"></calendar-day-dots>
    </td>
  </tr>
</table>

<div id="cards">
  <app-event-card *ngFor="let row of rows"
                  [row]="row"
                  (onClick)="filterByBook($event)">
  </app-event-card>
</div>